VITE_BUSINESS_NAME=Business Tracker
VITE_BUSINESS_APP_NAME=BusinessTracker
VITE_BUSINESS_APP_NAME_SHORT=BusinessTracker
VITE_BUSINESS_APP_DESCRIPTION=Business Tracker is a App that helps you manage your business operations efficiently.
VITE_BUSINESS_FAVICON=public/favicon.svg
VITE_BUSINESS_MAIN_LANGUAGE=en_US
VITE_BUSINESS_MAIN_LANGUAGE_SHORT=en
VITE_BUSINESS_COLOR_SCHEME='#b59a6e'
VITE_SUPABASE_DATABASE_URL=https://**.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_**