.list-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: min(100%, 720px);
  margin-inline: auto;
  height: 100%;
}

.items {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.items > * + * {
  border-block-start: 1px solid rgb(var(--mdui-color-outline-variant));
}

.actions {
  position: sticky;
  inset-block-end: 16px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  margin: 16px;
}